@using AmericanBlackout.Domain.SchemaOrg

<select>
    @foreach (ItemAvailability i in Enum.GetValues(typeof(ItemAvailability)))
    {
        <option value="@i.ToString()">@i.ToString()</option>
    }
</select>
