
@model AmericanBlackoutAdmin.Models.OfferModel

<div class="form-group">
    @Html.LabelFor(model => model.OfferId, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.OfferId)
        @Html.ValidationMessageFor(model => model.OfferId)
    </div>
</div>